<h1>Messages</h1>
<mat-card>
  <mat-card-content>
    <form  #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Decoded message</mat-label>
        <input name="message" matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 30%">
        <mat-label>Password</mat-label>
        <input name="password" required matInput ngModel/>
      </mat-form-field>
      <div style="margin-bottom: 20px">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          style="margin-right: 10px"
          [disabled]="f.invalid"
          (click)="decodeMessage()"
        >Decode</button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          (click)="encodeMessage()"
          [disabled]="f.invalid"
        >Encode</button>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Encoded message</mat-label>
        <input name="message" matInput ngModel/>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

